<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    
    <link rel="stylesheet"  ng-href="~/Content/bootstrap3.css">
    
</head>
<body>
   
    <div class="container body-content">
        @RenderBody()
        
        <footer class="navbar-fixed-bottom panel-info panel-footer">
            <div class="container">
                <span class="col-lg-6">
                    <span>@Html.ActionLink("Okami Books", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</span>
                    <a ng-href="#/people" class="pull-left btn btn-link"> <span class="glyphicon glyphicon-user" style="margin-right: 5px" aria-hidden="true"></span></a>
                    <a ng-href="#/search" class="pull-left btn btn-link"> <span class="glyphicon glyphicon-search" style="margin-right: 5px" aria-hidden="true"></span></a>
                    <a ng-href="#/login" class="pull-left btn btn-link"> <span class="glyphicon glyphicon-flash" style="margin-right: 5px" aria-hidden="true"></span></a>
                
                </span>

               

</div>
        </footer>
    </div>

   
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
